thead{
    background-color: #fff7f7;
    position:-webkit-sticky
}
::-webkit-scrollbar {
    width: 2px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #fa0000;
}

tr:focus:hover{
    background-color: #ccc;
    border-color: #fa0000;
}
th.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff7f7;
    /*To not have transparent background.
    background-color: white;*/
  }